{% extends 'base.html.twig' %}

{% block title %}Hello AProposController!{% endblock %}

{% block body %}
     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="">

                          <img src="img/female-avatar.png" class="img-fluid" alt="website">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                      <h4 class="my-5 pt-3" data-aos="" data-aos-delay="100">{{peintre.nom}} {{peintre.prenom}}</h4>

                      <div class="quote" data-aos="" data-aos-delay="200"></div>

                    <h5 class="mb-4" data-aos="" data-aos-delay="300">{{peintre.aPropos}}</h5>

                      <p data-aos="" data-aos-delay="400">
                        <strong>{{peintre.nom}} {{peintre.prenom}}</strong>

                        <span class="mx-1">/</span>

                        <small>Digital Agency (CEO)</small>
                      </p>
                    </div>

               </div>
          </div>
     </section>
{% endblock %}
