<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Log in!{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app')}}
    {% endblock %}
</head>
<body>
    <div class="limiter">
		<div class="container-login100" style="background-image: url('img/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form"  method="post">
					{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<span class="login100-form-title p-b-49">
                    <img class="logo" src="/img/logo.png" /> Login
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
						<span for="inputEmail" class="label-input100" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>Email</span>
						<input class="input100" type="email" name="username" placeholder="Entrez votre email...">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100" for="inputPassword">Mot de passe</span>
						<input class="input100" type="password" name="password" placeholder="Entrez votre mot de passe..." id="inputPassword" autocomplete="current-password" required>
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>
					<input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
					 
					<div class="text-right p-t-8 p-b-31">
					
						<a class="checkbox mb-3">
							<label>
								<input type="checkbox" name="_remember_me"> Se souvenir de moi
							</label>
						</a>
					
					</div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Me connecter
							</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Ou Me connecter avec
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>

					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Ou en utilisant
						</span>

						<a href="#" class="txt2">
							Me connecter
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% block javascripts %}
        {{ encore_entry_script_tags('app')}}
    {% endblock %}

</body>

