<section class="project-detail section-padding-half">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" >
              
                <h2>Dernières actualités</h2>
                <h4>Les dernières actualités sont listez ci-dessous</h4>
            <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for blogpost in blogposts %}
            <a href="{{ path('actualites_detail', {'slug': blogpost.slug}) }}">
                <div class="col">
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{blogpost.titre}}</h5>
                                <p class="card-text">{{blogpost.contenu|u.truncate(150, '...' , false)}}</p>
                                <p class="card-footer">
                                Publié le  {{blogpost.createdAt|date('d/m/Y')}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
  </div>
</section>