<!-- PROJECT DETAIL -->
<section class="project-detail section-padding-half">
<div class="container">
     <div class="row">

        <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" >
           
            <h2>Dernières réalisations</h2>
            <h4>Les dernières peintures sont listez ci-dessous</h4>
        <hr/>
        </div>
     </div>
</div>

{% for peinture in peintures %}
<a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 col-12 mb-5">

    <img  data-aos="" src="{{peinture.file}}" class="img-fluid image-circle" alt="personal website" >
  </div>

  <div class="col-lg-6 col-md-6 mr-lg-auto mt-lg-5 col-12"  data-aos-delay="200">
    <h3>{{peinture.nom}}</h3>  
    <p class="mt-3 mb-4">{{peinture.description}}</p>

     <ul class="list-detail">
              <li><span>Date de réalisation: {{peinture.dateRealisation|date('d/m/Y')}}</span></li>
              <li><span>Ajouté le {{peinture.createdAt|date('d/m/Y')}}</span></li>
        
    </ul>
    
  </div>
  
</div>
</div> 
</a>
{% endfor %}
    

</section>
