<section class="hero hero-bg d-flex justify-content-center align-items-center">
<div class="container">
     <div class="row">
         <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
               <div class="hero-text">
                    <h1 class="text-white" >Bienvenue dans le site Artiste Peintre!</h1>
                    <a href="{{ path('portfolio')}}" class="custom-btn btn-bg btn mt-3"  data-aos-delay="100">Découvrir mon portfolio <i class="fa fa-arrow-right"></i></a>
                    <strong class="d-block py-3 pl-5 text-white"  data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>
               </div>
         </div>
         <div class="col-lg-6 col-12">
           <div class="hero-image"  data-aos-delay="300">
             <img src="img/working-girl.png" class="img-fluid" alt="working girl">
           </div>
         </div>
     </div>
</div>
</section>
