<footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos-delay="100">Mettre nos <strong>artistes</strong> en avant.</h1>
          </div>


          <div class="col-lg-3 col-md-6 col-12" data-aos-delay="200">
            <h4 class="my-4">Contact </h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i> 
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                yaelRYN@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos-delay="300">
            <h4 class="my-4">A propos</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
             Madagascar, Antananarivo site by RYN 
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2021 RYN Company
            <br>
            <a rel="nofollow noopener" href="https://templatemo.com">Design: RYN</a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a href="{{ path('realisations')}}">Réalisations</a></li>
              <li><a href="{{ path('actualites')}}">Actualités</a></li>
              <li><a href="{{ path('portfolio')}}">Portfolio</a></li>
              <li><a href="{{ path('a_propos')}}">A propos</a></li>
              <li><a href="#">Me contacter</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>