<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home')}}">
           <img class="logo" src="/img/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('realisations')}}" class="nav-link smoothScroll">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('actualites')}}" class="nav-link smoothScroll">Actualités</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown nav-link">
                        <span>Portfolio</span>
                        <div class="dropdown-content">
                        <ul>
                        {% for categorie in categorieNavbar() %}
                            <li> 
                                <a href="{{ path('portfolio_categorie', {'slug': categorie.slug }) }}">{{categorie.nom}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ path('a_propos')}}" class="nav-link smoothScroll">A propos</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link contact">Me contacter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>