{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block body %}
<section class="project-detail section-padding-half">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" >
                <h2>Portfolio</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                {% set img = categorie.peintures|last %}
            <div class="col">
                <div class="p-4">
                    <div class="card" style="width: 18rem;">
                    <img  data-aos="" src="{{img.file}}" class="img-fluid image-circle" alt="personal website" >
                        <div class="card-body">
                            <h5 class="card-title">{{categorie.nom}}</h5>
                            <p class="card-text">{{categorie.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for peinture in peintures %}
              <div class="col">
                <div class="p-4">
                    <div class="card" style="width: 18rem;">
                    <img   class="card-img" data-aos="" src="{{peinture.file}}" class="img-fluid image-circle" alt="personal website" >
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
