{% extends 'base.html.twig' %}

{% block title %}Hello BlogpostController!{% endblock %}

{% block body %}
<section class="project-detail section-padding-half">
    <div class="container">
        <div class="row">
            <div style="text-align:justify;" class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" >
                <h2>{{blogpost.titre}}</h2>
                <p class="mt-3 mb-4">{{blogpost.contenu}}</p>
                <ul>
                  <li><span>Publié le le: {{blogpost.createdAt|date('d/m/Y')}}</span></li>        
               </ul>
            </div>
        </div>
    </div>

</section>
{% endblock %}
