{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
<section class="project-detail section-padding-half">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" >
              
                <h2>{{peinture.nom}}</h2>
                    {% for categorie in peinture.categorie %}
                        <h4>{{categorie.nom}}</h4>
                    {% endfor %}
                <hr/>
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">


      <div class="col-lg-6 col-md-6 mr-lg-auto mt-lg-5 col-12"  data-aos-delay="200">
            <p class="mt-3 mb-4">{{peinture.description}}</p>

         <ul class="list-detail">
                  <li><span>Date de réalisation: {{peinture.dateRealisation|date('d/m/Y')}}</span></li>
                  <li><span>Largeur: {{peinture.largeur}} CM</span></li>
                  <li><span>Largeur: {{peinture.hauteur}} CM</span></li>
                  <li><span>Ajouté le {{peinture.createdAt|date('d/m/Y')}}</span></li>
                  {% if peinture.enVente %}
                  <li><span>Disponible à la vente {{peinture.prix}} Euro</span></li>
                  {% endif %}
        </ul>
        
      </div>
      <div class="col-lg-5 col-md-6 col-12 mb-5">

        <img  data-aos="" src="{{peinture.file}}" class="img-fluid" alt="personal website" >
      </div>
      
 </div>
</div>

</section>
{% endblock %}
