{% extends 'base.html.twig' %}

{% block title %}Hello PeintureController!{% endblock %}

{% block body %}
<section class="project-detail section-padding-half">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto col-md-10 col-12 mt-lg-5 text-center" >
                <h2>Dernières réalisations</h2>
                <h4>Les dernières réalisations sont listez ci-dessous</h4>
            <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for peinture in peintures %}
            <div class="col">
                <div class="p-4">
                    <div class="card" style="width: 18rem;">
                    <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                        <img  data-aos="" src="{{peinture.file}}" class="img-fluid image-circle" alt="personal website" >
                    </a>
                        <div class="card-body">
                        <a href="{{ path('realisations_details', {'slug': peinture.slug}) }}">
                            <h5 class="card-title">{{peinture.nom}}</h5>
                            <p class="card-text">{{peinture.description|u.truncate(80, '...' , false)}}</p>
                            <p class="card-footer">
                              Publié le  {{peinture.createdAt|date('d/m/Y')}}
                            </p>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
  </div>
  <div class="d-flex justify-content-center">
        {% do peintures.setPageRange(2) %}
        {{ knp_pagination_render(peintures, 'base/pagination.html.twig')}}
   </div>
</section>
{% endblock %}
